@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #333;
}
.container{
    background: url(background-image.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 40px;
    color: white;
    text-align: center;
}
.container p{
    margin: 40px auto;
    max-width: 600px;
    font-weight: 300;
    font-size: 15px;
}
.email-box{
    height: 40px;
    display: flex;
    justify-content: center;
}
.email-box i{
    background: #2f3542;
    width: 40px;
    line-height: 40px;
}
.tbox,.btn{
    border: none;
    outline: none;
}
.tbox{
    width: 0px;
    transition: 0.6s;
}
.email-box:hover > .tbox,.tbox:focus{
    width: 260px;
    padding: 0 10px;
}
.btn{
    padding: 0 10px;
    background: #2f3542;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}